.login-nav {
    width: 100%;
    background-color: #26396A;
    color: white;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    /* border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px; */
}

.login-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}

.login-nav a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: .25rem;
} 

.login-nav a:hover {
    transform: scale(1.05);
    
}
